
.heading{
    height:380px;
    width:100%;
    background-color: red;
}
h1,h2{
    color:white;
    font-size:70px;
    padding-top:50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-size:20px;
    padding-top:12px;
}
a:hover{
    text-decoration: none;
}
a{
    color: black;
}

li{
    list-style-type:none;
}
.form-control{
    max-width:50%;
    margin-left:26%;
}
.btn-success{
    margin-left:46%;
}
.page{
    height: auto;
    min-height:500px;
    width: 100%;
    background-color: #ECF0F1;
    padding:45px;
}
.container{
    display:block;
    height: 160px;
    width:750px;
    background-color: white;
    margin-left:auto;
    margin-top:48px;
    padding:40px;
    font-size:22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 5px #aaaaaa;
    position:relative;
}
.btn1{
    position: absolute;
    top:8px;
    right:8px;
    height:30px;
    width:30px;
    border-radius:50%;
    text-align: center;
    line-height: 22px;
    background-color: red;
    color:white;
    box-shadow: 2px 2px 2px #aaaaaa;
}
.btn1:hover{
    cursor:pointer;
}
